/* Navbar */
 .navbar ul li{

    font-size: 0.60rem;
 }

 .navbar ul li a{

    padding: 10px 20px;

}

.language {
    font-size: 7px;
   
}
/* Home */
#home{
    height: 820px;
}

.headings{
  font-size: 1.7rem;
}

#home::before{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/* About */
#pic img{ 
    width: 300px;
    height: 175px;

}

#intro h2{
    font-size: 1.5rem;
}

/* protfolio */

.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/* Contect */

.input{
    width: 80%;
}
#msg{
    width: 70%;
}

#send{
width: 20%;
}
